body {
  background-position: center;
  background-color: white;
  font-family: 'PT Mono', Tahoma, Arial, sans-serif;
  font-weight: 400;
}

/*Textarea not resizeable*/
textarea {
    resize:none;
}

.statistic-profile img {
  float: left;
  width: 150px;
  height: 150px;
}

.statistic-profile h2 {
  position: relative;
  left: 15px;
  top: 15px;
  font-size: 50px;
}


.friends-feed {
  position: relative;
  left: 20px;
  top: 20px;
}

.status-profile img {
  float: left;
  width: 50px;
  height: 50px;
}

.status-profile h4 {
  position: relative;
  top: 15px;
  left: 10px;
}


.judul-statistic h1 {
  position: relative;
  left: 15px;
  top: 15px;
}
