{% extends "fitur_status/layout/base.html" %}

{% block content %}
<div class="judul-update-status">
  <h1><b>Update Status</b></h1>
</div>

<br>

<section name="form" class="status-form">
    <form id="form" method="POST" action="{% url 'fitur-status:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" style="vertical-align:middle;" id="button" class="button"><span>Submit</span></button>
        <br>
    </form>
</section>

<br>
<br>
<hr>

{% for i in message reversed %}
<div class="status-profile">
  <img src='../../static/image/spiderman.png' alt="Profile Pic"/>
  <h4><b>{{ name }}</b></h4>
</div>
<br>
<h4> {{i.message}} </h4>
<h6> {{i.created_date.date}} {{i.created_date.time}}</h6>
<br>
{% endfor %}

{% endblock %}
