{% extends "fitur_status/layout/base.html" %}

{% block content %}

<div class="judul-update-status">
  <h3>Status baru anda yang berisi:</h3>
</div>

<textarea readonly rows="1" class="form-control">&quot;{{message}}&quot;
</textarea>

<h4>berhasil di-update!<h4>

<hr/>

<h6><a href="{% url 'fitur-status:index' %}">kembali ke halaman update status</a></h6>

{% endblock %}
