body {
  min-height: 2000px;
     background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Textarea not resizeable*/
textarea {
    resize:none;
}

.rcorners1 {
  position: relative;
  border-radius: 20px;
  background: lightblue;
  color: black;
  padding: 20px; 
  width: 160px;
  height: 45px;
  border: 2px solid grey;
  text-align: center;
  line-height: 4px;
  margin: 20px;
  font-size: 11px;
}

.rcorners2 {
  position: relative;
  border-radius: 20px;
  background: lightblue;
  color: black;
  padding: 20px; 
  width: 160px;
  height: 45px;
  border: 2px solid grey;
  text-align: center;
  line-height: 4px;
  margin: 20px;
  font-size: 11px;
  margin: -65px 210px;
}

.rcorners3 {
  position: relative;
  border-radius: 20px;
  background: lightblue;
  color: black;
  padding: 20px; 
  width: 160px;
  height: 45px;
  border: 2px solid grey;
  text-align: center;
  line-height: 4px;
  margin: 20px;
  font-size: 11px;
  margin: 20px 400px auto;
}

.cover-image {
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 817px;
  height: 418px;
  position: absolute;
}

.profile-image {
  top: 300px;
  margin: auto auto 250px;
  position: relative;
  border-radius: 50%;
  border: 4px solid black;
  padding: 1px;
  width: 260px;
  height: 260px;
  overflow:hidden;
}