body {
  min-height: 2000px;
     background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

textarea {
    resize:none;
}

.status-profile img {
  float: left;
  width: 50px;
  height: 50px;
}

.status-profile h4 {
  position: relative;
  top: 15px;
  left: 10px;
}

.status-form button {
  float: right;
}

.judul-update-status {
}

.judul-update-status h1 {
  position: relative;
}
