body{
  background-position: center;
  background-color: white;
  font-family: 'PT Mono', Tahoma, Arial, sans-serif;
  font-weight: 400;
}

textarea {
  resize: none;
}

.status-profile img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.status-profile h4 {
  position: relative;
  top: 15px;
  left: 10px;
}

.status-form button {
  float: right;
}

.judul-update-status h1 {
  position: relative;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #07889B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
