{% extends "fitur_profile/layout/base.html" %}

{% block content %}
<h1 class="judul-profile"><b>Profile</b></h1>

<br>
<br>

<div class="cover-image">
	<img width="800" height="400" src="../../static/image/mountains.jpg" alt="coverpic">
</div>
<div class="profile-image">
 	<img width="250" height="250" alt="Profile Pic" src="../../static/image/spiderman.png"/>
</div>

<br>
<br>
<br>

<h2><center><b>{{ name }}</b></h2>

<br>
<br>
<hr>

<h4>&emsp;&emsp;<b>Birthdate</b></h4>
<h5>&emsp;&emsp;{{ birthdate }}</h5>

<br>

<h4>&emsp;&emsp;<b>Gender</b></h4>
<h5>&emsp;&emsp;{{ gender }}</h5>

<br>

<h4>&emsp;&emsp;<b>Expertise</b></h4>
<a href="http://marvel.wikia.com/wiki/Web-Shooters" target="_blank"><div class="rcorners1">{{expertise.one}} </div></a>
<a href="https://www.tor.com/2017/07/31/spider-man-homecoming-peter-parker-photographer-smartphone-millennial/" target="_blank"><div class="rcorners2">{{expertise.two}} </div></a>
<a href="http://spiderman.wikia.com/wiki/Way_of_the_Spider" target="_blank"><div class="rcorners3">{{expertise.three}} </div></a>

<br>
<br>

<h4>&emsp;&emsp;<b>Description</b></h4>
<h5>&emsp;&emsp;{{ description }}</h5>

<br>

<h4>&emsp;&emsp;<b>Email</b></h4>
<h5>&emsp;&emsp;{{ email }}</h5>

<br>

<p>
	{{content}}
</p>


{% endblock %}
