{% extends "add_friends/layout/base.html" %}

{% block content %}

<section>
  <div class="container">
    <div class="text-center">
    <div class="long-shadow">MY FRIENDS</div>
    <hr>
    <br>
    <h4><b>Tambahkan teman kamu!</b></h4>
    </div>
      <div class="row">
          <div class="col-sm-offset-2 col-sm-8 text-center">
              <form id="form" method="POST" action="{% url 'fitur-friends:add_friends_post'%}">
              {% csrf_token%}
              {{addFriendForms}}
              <br>
              <button type="submit" style="vertical-align:middle;" id="button" class="button"><span>Add</span></button>
              </form>
          </div>
      </div>
  </div>
</section>

<br>
<br>
<br>

<section>

  <h4><b>Teman yang terdaftar:</b></h4>
  <div class="container">
  <div class="flex">
  {% if teman %}
      {% for x in teman %}

      <div class="flex-item text-center">
          <div class="list-friend">
          <br>
          <div align="center"><img alt="User Pic" src="../../static/image/profilepic.png" width="150" height="150" class="img-circle img-responsive" style="text-align: center"></div>
            <h4 id="title-friend" style="text-align: center; color: black">{{x.nama_teman}}</h4>
            <a href="{{x.url_teman}}" target="_blank">{{x.url_teman}}</a>
            <hr>
            <div id="added-friend" style="color: black">added at {{x.tanggal_teman}}</div>
          </div>
      </div>

      {% endfor %}
  {% endif %}
  </div>
  </div>
</section>

{% endblock %}
