{% extends "add_friends/layout/base.html" %}

{% block content %}

<div class="judul-add-friends">
  <h3><b>{{name}}</b> berhasil terdaftar menjadi teman anda!</h3>
</div>

<hr/>

<h6><a href="{% url 'fitur-friends:index' %}">kembali ke halaman friends</a></h6>

{% endblock %}
