body{
  background-position: center;
  background-color: white;
  font-family: 'PT Mono', Tahoma, Arial, sans-serif;
  font-weight: 400;
}

.long-shadow {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px;
  border: none;
  font: normal 70px/1 "Fredoka One", Helvetica, sans-serif;
  color: #66B9BF;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 #07889B , 4px 4px 0 #07889B , 5px 5px 0 #07889B , 6px 6px 0 #07889B , 7px 7px 0 #07889B , 8px 8px 0 #07889B , 9px 9px 0 #07889B;
}

#form {
  padding-top: 10px;
  font-size: 20px;
  color: #;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #07889B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
  background-color: #07889B;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
 }

#title-friend {
  padding-top: 10px;
  text-align: left;
}

#added-friend {
  padding-bottom: 10px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-right: 15px;
  margin-left: 10px;
}

.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  background: white;
  border-radius: 15px;
  margin: 30px;
}

.list-friend {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
  transition: all 0.5s;
}

.list-friend:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.15);
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-friend form {
      width: 290px;
  }

  .flex {
    bottom: -50px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
