body {
  background: #FFFFFF;  /* fallback for old browsers */
  font-family: 'PT Mono', Tahoma, Arial, sans-serif;
  font-weight: 400;
}

/*Textarea not resizeable*/
textarea {
    resize:none;
}

.rcorners1 {
  position: relative;
  border-radius: 4px;
  background: #07889B;
  color: white;
  padding: 20px 20px 45px 20px;
  width: 160px;
  height: 45px;
  text-align: center;
  margin: 20px;
  font-size: 11px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
  transition: all 0.5s;
}

.rcorners2 {
  position: relative;
  border-radius: 4px;
  background: #07889B;
  color: white;
  padding: 20px 20px 45px 20px;
  width: 160px;
  height: 45px;
  text-align: center;
  margin: 20px;
  font-size: 11px;
  margin: -85px 210px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
  transition: all 0.5s;
}

.rcorners3 {
  position: relative;
  border-radius: 4px;
  background: #07889B;
  color: white;
  padding: 20px 20px 45px 20px;
  width: 160px;
  height: 45px;
  text-align: center;
  margin: 20px;
  font-size: 11px;
  margin: 20px 400px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.15);
  transition: all 0.5s;
}

.rcorners1:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.rcorners2:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.rcorners3:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.cover-image {
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 817px;
  height: 418px;
  position: absolute;
}

.profile-image {
  top: 300px;
  margin: auto auto 250px;
  position: relative;
  border-radius: 50%;
  border: 4px solid black;
  padding: 1px;
  width: 260px;
  height: 260px;
  overflow:hidden;
  background-color: white;
}
