{% extends "fitur_statistic/layout/base.html" %}

{% block content %}
<div class="judul-statistic">
  <h1><b>Statistic</b></h1>
</div>

<br>

<div class="statistic-profile">
  <img src='../../static/image/spiderman.png' alt="Profile Pic"/>
  <h2>{{ name }}</h2>
</div>

<div class="friends-feed">
  <h5>Teman: {{total_friends}}</h5>
  <h5>Jumlah status pada feed: {{total_message}}</h5>
</div>

<br>
<br>
<br>
<hr>

<div class="latest-post">
  <h3>Status terbaru</h3>
</div>

<div class="status-profile">
  <img src='../../static/image/spiderman.png' alt="Profile Pic"/>
  <h4><b>{{ name }}</b></h4>
</div>

<br>

<h4> {{message}} </h4>
<h6> {{message_date.date}} {{message_date.time}}</h6>

{% endblock %}
